@font-face{
    font-family: 'Inter';
    src: url('./../fonts/Inter-VariableFont.ttf');
}
:root{
    --main-color-rgb:102, 76, 75;
    --main-color: #664C4B;
}
@media screen and (min-width:320px){
    :root{
        --main-width:90%;
        --subtitle-font-size:1.5em;
        --heading-font-size:1em;
        --main-font-size:1em;
        --min-font-size:1.25rem;
        --big-font-size:2em;
        --gorizontal-padding:12vw;
    }
}
@media screen and (min-width:480px){
    :root{
        --main-width:80%;
        --subtitle-font-size:1.5em;
        --heading-font-size:1em;
        --main-font-size:1em;
        --min-font-size:1.25rem;
        --big-font-size:2em;
        --gorizontal-padding:12vw;
    }
}
@media screen and (min-width:600px){
    :root{
        --main-width:80%;
        --subtitle-font-size:1.5em;
        --heading-font-size:1em;
        --main-font-size:1em;
        --min-font-size:1.25rem;
        --big-font-size:2em;
        --gorizontal-padding:12vw;
    }
}
@media screen and (min-width:768px){
    :root{
        --main-width:70%;
        --subtitle-font-size:1.5em;
        --heading-font-size:1em;
        --main-font-size:1em;
        --min-font-size:1.25rem;
        --big-font-size:2em;
        --gorizontal-padding:12vw;
    }
}
@media screen and (min-width:800px){
    :root{
        --main-width:70%;
        --subtitle-font-size:1.5em;
        --heading-font-size:1em;
        --main-font-size:1em;
        --min-font-size:1.25rem;
        --big-font-size:2em;
        --gorizontal-padding:15%;
    }
}
@media screen and (min-width:1024px){
    :root{
        --main-width:90vw;
        --subtitle-font-size:1.5rem;
        --heading-font-size:2rem;
        --main-font-size:1.1rem;
        --min-font-size:1rem;
        --big-font-size:1.25rem;
        --gorizontal-padding:5vw;
    }
}
@media screen and (min-width:1280px){
    :root{
        --main-width:80vw;
        --subtitle-font-size:2rem;
        --heading-font-size:2.5rem;
        --main-font-size:1.3rem;
        --min-font-size:1.15rem;
        --big-font-size:1.7rem;
        --gorizontal-padding:10vw;
    }
}
@media screen and (min-width:1440px){
    :root{
        --main-width: 76vw;
        --subtitle-font-size:2.5rem;
        --heading-font-size: 3rem;
        --main-font-size: 1.4rem;
        --min-font-size:1.25rem;
        --big-font-size:2.25rem;
        --gorizontal-padding:12vw;
    }
}