@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter-VariableFont.ttf");
}
:root {
    --main-color-rgb: 102, 76, 75;
    --main-color: #664c4b;
}
@media screen and (min-width: 320px) {
    :root {
        --main-width: 95%;
        --subtitle-font-size: 1.2em;
        --heading-font-size: 2em;
        --main-font-size: 1em;
        --min-font-size: 1.25rem;
        --big-font-size: .7em;
        --gorizontal-padding: 12vw;
    }
}
@media screen and (min-width: 1440px) {
    :root {
        --main-width: 80vw;
        --subtitle-font-size: 2.5rem;
        --heading-font-size: 3rem;
        --main-font-size: 1.4rem;
        --min-font-size: 1.25rem;
        --big-font-size: 2.25rem;
        --gorizontal-padding: 10vw;
    }
}
